<!-- tab_3 -->
<div class="row">
  <div class="col-md-1">.col-md-3</div>
  <div class="col-md-1">.col-md-3</div>
  <div class="col-md-1">.col-md-3</div>
  <div class="col-md-1">.col-md-3</div>
  <div class="col-md-1">.col-md-3</div>
  <div class="col-md-1">.col-md-3</div>
  <div class="col-md-1">.col-md-3</div>
  <div class="col-md-1">.col-md-3</div>
  <div class="col-md-1">.col-md-3</div>
  <div class="col-md-1">.col-md-3</div>
  <div class="col-md-1">.col-md-3</div>
  <div class="col-md-1">.col-md-3</div>
</div>
<!-- tab_3 -->

</br></br></br>
<b>A lot of br tags:</b>
</br></br></br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br></br></br>