<h1>TEST SANDBOX PROJECT</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<h2>TEST WEBSITE LINK</h2>
<%= link_to ("Test Website"), static_pages_website_path %>


<div>
<!-- TEST ENV -->
<div>
<!-- ERB -->
  <h2>ERB TEST FILE</h2>
<%= render "layouts/test" %>
</div>
<div>
<!-- HAML -->
  <h2>HAML TEST FILE</h2>
<%= render "layouts/test_h" %>
</div>
<!-- TEST ENV -->
</div>